<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>Alta de Peliculas</h1>
    
    <form method="post" action="/store" enctype="multipart/form-data">
        <label for="">Nombre Pelicula</label>
        <input type="text" name="name" id="name" value="" class="form-control">
        <label for="">Rating</label>
        <input type="text" name="rating" id="rating" value=""class="form-control" >
        <label for="">Premios</label>
        <input type="text" name="awards" id="awards" value="" class="form-control">
        <label for="">Duracion</label>
        <input type="text" name="length" id="length" value="" class="form-control">
        <label for="">Genero</label>
        <input type="text" name="genre_id" id="genre_id" value="" class="form-control">

        <button type="submit"  class="btn btn-info">Guardar</button>
    </form>
    </div>
</body>
</html>